<!--NO OLVIDAR PARA QUE CARGUE LOS ESTILOS EXTERNOS-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Nombres % cycle %</title>

    <!--Enlace al css externo NO OLVIDAR LOS % AL PRINCIPIO Y FIN de static Y 'css/hoja_estilo.css'. Tambien el STATIC_URL = '/static/' en settings.py-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Lista Nombres</h1>
    <ul>
        {% for nombre in nombres %}
            <!--No olvidar que el % va al principio y final del bloque cycle-->
            <li class="{% cycle 'fondo1' 'fondo2' %}">{{nombre}}</li>
        {% endfor %}
    </ul>
</body>
</html>